In [1]:
import json
import pandas as pd
from datetime import datetime as dt
from datetime import datetime, timedelta
import time
import csv
import statsmodels.api as sm
import os
import numpy as np
import math
import requests

In [3]:

# Column names to be added
column_names=[
    "open time"
    ,"o"
    ,"h"
    ,"l"
    ,"c"
    ,"Vol"
    ,"Close time"
    ,"Quote av"
    ,"No of trades"
    ,"Taker buy base av"
    ,"Taker buy quote av"
    ,"ign"]

# Add column names while reading a CSV file

,open time,o,h,l,c,Vol,Close time,Quote av,No of trades,Taker buy base av,Taker buy quote av,ign
0,1609459200000,736.42,737.09,735.94,737.02,647.71994,1609459259999,4.768779e+05,359,484.87834,356959.311632,0
1,1609459260000,737.12,739.00,737.06,738.74,1122.95415,1609459319999,8.286621e+05,643,801.45291,591231.725025,0
2,1609459320000,738.78,738.81,737.35,737.82,418.49987,1609459379999,3.089227e+05,283,202.66306,149569.394165,0
3,1609459380000,737.74,738.20,737.28,737.43,305.98424,1609459439999,2.257527e+05,251,235.36847,173656.181372,0
4,1609459440000,737.38,737.80,736.80,736.89,350.36312,1609459499999,2.583062e+05,277,217.56157,160412.714708,0
...,...,...,...,...,...,...,...,...,...,...,...,...
44635,1612137300000,1316.51,1317.61,1316.36,1316.72,689.54336,1612137359999,9.080299e+05,363,381.27105,502059.741320,0
44636,1612137360000,1316.73,1317.34,1313.80,1315.04,786.67330,1612137419999,1.035201e+06,463,181.39330,238681.049136,0
44637,1612137420000,1314.74,1314.91,1311.30,1313.72,1166.39660,1612137479999,1.531300e+06,740,460.80966,604881.964239,0
44638,1612137480000,1313.78,1314.48,1312.00,1312.03,679.82555,1612137539999,8.929651e+05,480,378.02416,496551.303546,0
44639,1612137540000,1312.02,1313.67,1311.75,1312.55,289.38484,1612137599999,3.798938e+05,317,161.99059,212646.144667,0

In [46]:
df = pd.DataFrame()
sym="UNIUSDT"
y="2023"
for i in range(1, 7):
    mon=i
    if(mon<10):
        st="0"+str(mon)
    else:
        st=str(mon)
    tp = pd.read_csv('Raw Data/'+sym+'/'+y+'/'+sym+'-1m-'+y+'-'+st+'.csv', names=column_names)
    df=pd.concat([df, tp])
    df.reset_index(drop=True, inplace=True)
df

,open time,o,h,l,c,Vol,Close time,Quote av,No of trades,Taker buy base av,Taker buy quote av,ign
0,1672531200000,5.167,5.171,5.167,5.170,213.72,1672531259999,1104.79079,11,170.48,881.36971,0
1,1672531260000,5.170,5.170,5.170,5.170,0.00,1672531319999,0.00000,0,0.00,0.00000,0
2,1672531320000,5.169,5.169,5.168,5.168,173.21,1672531379999,895.20262,2,0.00,0.00000,0
3,1672531380000,5.167,5.167,5.166,5.166,320.48,1672531439999,1655.61088,7,8.88,45.88296,0
4,1672531440000,5.167,5.167,5.163,5.165,439.02,1672531499999,2267.34510,15,269.62,1392.33040,0
...,...,...,...,...,...,...,...,...,...,...,...,...
260555,1688169300000,5.274,5.274,5.271,5.274,671.55,1688169359999,3541.42039,34,99.63,525.27322,0
260556,1688169360000,5.273,5.276,5.273,5.276,170.66,1688169419999,900.32818,16,161.39,851.44295,0
260557,1688169420000,5.274,5.278,5.274,5.277,48.24,1688169479999,254.53769,7,15.31,80.77958,0
260558,1688169480000,5.277,5.278,5.276,5.277,276.22,1688169539999,1457.47761,26,64.45,340.11268,0
260559,1688169540000,5.277,5.277,5.272,5.272,541.60,1688169599999,2857.11217,29,117.28,618.68923,0

In [47]:
df['o'].describe()

count    260560.000000
mean          5.789427
std           0.757102
min           3.678000
25%           5.160000
50%           5.861000
75%           6.405000
max           7.573000
Name: o, dtype: float64

In [48]:
df.to_csv('Raw Data/UNIUSDT/2023/2023_ohlc_uni_june.csv')